<div class="form-group">
    <label for="title">Naam</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Annuleren</a>
<button type="submit" class="btn btn-primary">Opslaan</button>