<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verwarming</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body onload="checkList()">
        <div class="container mt-3">
            <h1 class="mb-4"> Verwarming</h1>
            <a href="/kamers/new" class="btn btn-success">Nieuwe kamer</a> 
            <br><br><input type="text" id="myInput" onkeyup="Search()" placeholder="Zoeken..." class="form-control">
            <ul id="myUL">
                <% articles.forEach(article => { %>
                    <li class="li">
                        <div class="card mb-2 mt-4" id="kamer">
                            <a href="kamers/<%= article.slug %>" class="ml-2 mt-2 link">
                                <h4 class="card-title d-inline title"><%= article.title %></h4>
                                <form action="/kamers/<%= article.id %>?_method=DELETE" method="POST" class="d-inline delete">
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </a>
                        </div>
                        </li>
                <% }) %>
            </ul>
                <script>
                    function Search(dateOne, dateTwo) {
                        // Declare variables
                        var input, filter, ul, li, a, i, txtValue;
                        input = document.getElementById('myInput');
                        filter = input.value.toUpperCase();
                        ul = document.getElementById("myUL");
                        li = ul.getElementsByTagName('li');
                        // Loop through all list items, and hide those who don't match the search query
                        for (i = 0; i < li.length; i++) {
                            a = li[i].getElementsByTagName("a")[0];
                            txtValue = a.textContent || a.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue > dateOne || txtValue < dateTwo){
                                li[i].style.display = "";
                            } 
                            else {
                                li[i].style.display = "none";
                            }
                        }
                    }
                    function checkList(){
                        const ul = document.getElementById("myUL");
                        if(ul.childElementCount == 0){
                            var div = document.createElement("div");
                            div.classList.add("emptyDiv");
                            var h3 = document.createElement("h3");
                            h3.innerText = "Nog geen kamer toegevoegd";
                            h3.style.textAlign = "center"
                            h3.style.marginTop = "30px"
                            div.appendChild(h3);
                            ul.appendChild(div);
                        }
                    }
                </script>
        </div>
    </body>
</html>